
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta content="noindex, nofollow" name="robots">
    <title>Unclaimed-Moneysearch</title>
    <style>
        .footer-pipe{
            font-size: 10px;
            padding-left: 8px;
            padding-right: 5px;
        }

        #footer{
            max-height: 50px;
            margin-top: 50px;
            width: 100%;
            background: white;
            text-align: center;
            padding-bottom: 15px;
            padding-top: 7px;
        }

        .footer-links {
            color: #0E5763;
            text-decoration: underline;
            font-size: 12px;
        }

        .footer-links:hover {
            color: #60C6D6;
        }
    </style>
<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>

<body style="background-color: #ffffff;">
    <div id="container" style="padding: 20px">
        <div id="head" align="center">
            <h1 style="font-family: sans-serif; text-align: center;">DOMAIN SECURED</h1>
        </div>
        <div id="mainlg" align="">
            <div class="top-lg" align="">	
                <p class="h-lg h-lg1"><strong>Privacy Policy</strong>
                </p>
    <p>
        domain-secured.com (the “Website,” “App” or “we”) is committed to protecting the privacy and security of users of our Website. This Privacy Policy sets forth how the Website collects and uses personal information, and is incorporated by reference into our Terms of Use. Using our Website constitutes an acknowledgement and agreement that you have read and accepted our privacy practices set forth below. Please do not use this Website if you do not agree to our privacy practices.
    </p>
    <ul>
        <li>CONFIDENTIALITY AND SECURITY OF PERSONAL INFORMATION</li>
    </ul>
    <p>This Website follows generally accepted industry standards to protect personally identifiable information sent to our Website, both during transmission and thereafter. We maintain our servers in a secure and environmentally controlled location and protect our network with a secure firewall. Also, we store personal information only on computers which are connected to the Internet, and actively limit employee, agent, and service providers’ access to users’ information.</p>
    <p>Despite all of our efforts to maintain your confidentiality and security, no method of transmission over the Internet and no method of electronic storage is completely secure and we cannot guarantee the absolute security of your personal information.</p>
    <ul>
        <li>PERSONAL INFORMATION WE WILL COLLECT – CONSUMER NOTICE</li>
    </ul>
    <p>You are not required to register in order to use our Website, but you must sign up to receive samples or freebies. When you sign up, you will be required to provide your full name, email address, phone number, date of birth, and address. In an effort to provide you with the most relevant samples or freebies available, you may also be asked to provide other information including but not limited to your relationship status, whether or not you ever use coupons, health matters, and your employment status.</p>
    <p>We routinely collect and log the IP addresses of our users’ computers in order to enable us to detect unauthorized access and to better manage website traffic, and to detect and log the name of the website they are navigating. We also utilize geo-location technology to capture and log users’ zip code, city, state, region, and country. Moreover, we automatically associate collected and logged information with the registered users’ information that they submit. We also may occasionally supplement the information we collect from our Website with information we receive from outside sources.</p>
    <p>Our privacy notices comply with all applicable laws, regulations and industry best practices, such as the Digital Advertising Alliance’s Self-Regulatory Principles for Online Behavioral Data and Multi-Site Data. Users understand that the placement, use and reading of cookies and related technologies, and the collection, sharing and use of data in relation to activity by users, including: (i) that third parties may directly collect user data directly from us for their own use and subject to their own privacy policies not described herein, including but not limited to certain <a href="">data partners</a>; and (ii) that we collect PII that users have voluntarily disclosed and shares such PII and non-PII with third parties in a hashed or encrypted format or, if we include PII in the data, we have collected PII that users have voluntarily disclosed and share such PII with third parties for tailoring targeted advertisements to users on our Website and elsewhere based on the users’ expressed or presumed interests.</p>
    <ul>
        <li>PURPOSES FOR WHICH WE WILL USE PERSONAL INFORMATION</li>
    </ul>
    <p>We will collect personal information from you for the following purposes:</p>
    <ul>
        <li>To notify you of third party offers;</li>
        <li>To identify your needs and/or preferences;</li>
        <li>To use standard analytics tracking on our Website;</li>
        <li>To provide tracking/conversion information about users clicking on advertisements;</li>
        <li>To meet legal and regulatory requirements;</li>
        <li>To administer, maintain, manage, and improve our business operations; and</li>
        <li>As otherwise required by law.</li>
        <li>SHARING OF PERSONAL INFORMATION</li>
    </ul>
    <p>We may share your personal information under the following circumstances:</p>
    <ul>
        <li>If you have indicated to us that you want to receive notifications from one of our partners about samples or freebies;</li>
        <li>If we are required by law to do so, or if we believe that the disclosure is required or necessary to protect our rights and/or comply with a judicial processing or legal process served on our Website.</li>
        <li>If we believe that it is required by law enforcement in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, or a potential threat to the physical safety of a third party.</li>
        <li>In the event of an assignment of this Website for any reason, in which case we will notify you via email of any such change in ownership or control of personal information.</li>
        <li>If we share your email address with our preferred emailing partner for the purpose of sending third party email promotions on our behalf.</li>
        <li>If we enter into a partnership agreement with a marketing company to initiate email, postal mail, or other marketing campaigns on our behalf.</li>
        <li>If the information is required by our legal, financial, and other professional advisors, or our web developers when we upgrade or improve our Website.</li>
        <li>If we obtain your advance consent as required by law.</li>
    </ul>
    <p>Except as provided above, we will not share any of your information to any third party without permission.</p>
    <ul>
        <li>ACCESS TO YOUR PERSONAL INFORMATION</li>
    </ul>
    <p>To update, delete, or correct personal information on file with us, you should submit a written request mailed to us at the address listed in the “Contact Us” section below.</p>
    <ul>
        <li>EMAIL REQUESTS FOR PERSONAL INFORMATION</li>
    </ul>
    <p>We will never initiate a request for personal information by email. If you receive a request by email, please do not respond and notify us as set forth below. If you ever believe that you have been a victim of fraud, please report it to the police and take all available actions to protect yourself. Also, please notify us, so that we can take all possible actions to protect you and the other users of this Website.</p>
    <ul>
        <li>CHILDREN</li>
    </ul>
    <p>Our Website is committed to protecting the privacy of children. For this reason, we restrict the use of our Website to persons eighteen (18) years of age or older, and we do not knowingly or intentionally collect personal information from children under the age of thirteen (13).</p>
    <ul>
        <li>CONTACT WITH YOU</li>
    </ul>
    <p>We may contact you from time to time via your email address, in order to send notices required by law, to provide information regarding this Website, or to resolve any complaint. We also reserve the right to email information to you about our services, to provide offers, or to send out promotions to you. You may at any time choose to unsubscribe (or “opt-out”) by entering your email here: <a href="http://removeme-pls.com/suppression/suppression.php?id=13">Unsubscribe</a>. In the alternative, you may always unsubscribe via our unsubscribe link in each of our email messages, which shall never expire. We will honor your unsubscribe request submitted via email on or before the tenth (10th) day following our receipt of your request. Unsubscribing via the link in any email message you receive from us will remove your name from our list immediately.</p>
    <ul>
        <li>THIRD PARTIES</li>
    </ul>
    <p>Our Website contains advertisements and promotional offers by third parties. Any links to third party websites will be moderated by third party companies and will not be subject to this privacy policy. You should read any third party’s privacy policy to confirm that you agree to its terms prior to registering as a member of its website or agreeing to complete any personal information requests. If you wish to opt out of receiving mailings from third parties, you must do so directly with such third parties.</p>
    <p>Users understand and agree (a) that demographic or other interest data may be associated with their browsers or devices and (b) that such data may be used online for the purpose of serving them advertising targeted based on their presumed interests. We allow third-party companies to collect certain information when you visit our web site such as your IP address and information about your browser, devices or operating system, and may place or recognize a unique cookie on your browser for the purpose of enabling interest-based content or advertising to you.</p>
    <p>These companies may utilize cookies, pixels or other technologies to collect and use non-personally identifiable information (e.g., hashed data, click stream information, browser type, time and date, subject of advertisements clicked or scrolled over) during your visits to this and other web sites in order to provide advertisements about goods and services likely to be of greater interest to you. The cookies placed by our third party partners contain no personally identifiable information; they may contain demographic or other interest-based data in a de-identified form. The information in these cookies may be linked to data you voluntarily have submitted to us, such as your name, postal address or email, which we may share in hashed or encrypted form. To learn more about this behavioral advertising practice or to opt-out of this type of advertising and data provider cookies, you can visit the websites of the Digital Advertising Alliance at <a href="http://www.aboutads.info/">www.aboutads.info</a> and Networking Advertising Initiative at <a href="https://www.networkadvertising.org/choices/">www.networkadvertising.org/choices/</a></p>
    <p>Our third party partners or we may place cookies (or permit Cookies to be placed on behalf of our third parties or partners) on users’ browsers or email clients while they are using the Website. Users understand our use of third party cookies is for the purpose of serving targeted advertising or marketing by email; (ii) that by continuing to browse on our Website, users consent to the use of cookies for the purpose of serving targeted advertising or marketing by email; and (iii) users are allowed to learn more about and object to the use of cookies.10. OTHER LEGAL NOTICES</p>
    <p>Any dispute over privacy or security will be subject to this Privacy Policy and our Terms of Use. We will always make every effort to resolve any concerns regarding privacy that arise in connection with this Privacy Policy.</p>
    <ul>
        <li>OTHER INFORMATION FOR CALIFORNIA RESIDENTS</li>
    </ul>
    <p>As a California resident using our Website, you expressly acknowledge and agree to the following: In compliance with Chapter 390 of Section 22575 of the Business and Professions Code, our third party affiliates, partners and advertisers, are prominently disclosed here in our Privacy Policy, our Terms of Use and during your disclosure of your personal identifiable information. This includes all third parties that we work with.</p>
    <p>California Civil Code Section 1798.83 provides that customers of Company who are California residents and who have submitted personal information to us are permitted to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. Within thirty (30) days of receiving any such request, we will provide a list of the categories of personal information disclosed to third parties for third party direct marketing purposes during the immediately preceding calendar year, along with the names and addresses of these third parties. This request may not be made more than once per calendar year. If you are a California resident and want a copy of this notice, please submit a written request to the following address:
        domain-secured.com, <%= CLAIMYOURFUNDS_ADDRESS%>. Place “California Third Party Disclosure” in the subject line and outside envelope.</p>
    <p>Further, in accordance with California Civil Code Sec. 1789.3, California residents are entitled to know that they may file grievances and complaints with the California Department of Consumer Affairs, 400 R. Street, Ste. 1080, Sacramento, CA 95814 or by phone at 916-445-1254 or 800-952-5210 or by email to <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f99d9a98b99d9a98d79a98d79e968fd7">[email&#160;protected]</a> For more information about protecting your privacy, you may wish to visit <a href="https://www.ftc.gov/">http://www.ftc.gov</a></p>
    <p>Pursuant to The California Online Privacy Protection Act of 2003 (“CalOPPA”) we do not collect nor do we allow third parties to collect personally identifiable information over time and across third party websites and online services. The only third party that has access to data does this only on our website. As such we have no need of response to browser Do-Not-Track (“DNT”) signals or other mechanisms that provide consumers with choice regarding the collection of such information. We only collect data from our website (to provide our users with more relevant freebies as they visit our site). Please carefully read our Terms of Use and Privacy Policy as well as this section related to the other categories of personally identifiable information (“PII”) collected and with whom it is shared.</p>
    <ul>
        <li>CONTACT US</li>
    </ul>
    <p>If you have any questions or concerns over this Privacy Policy or if you need further information regarding the access to your personal information, or how your personal information is used, you may contact us as listed below:</p>
    <p>
        domain-secured.com, <%= CLAIMYOURFUNDS_ADDRESS%></p>
    <ul>
        <li>CHANGES AND UPDATES TO THIS PRIVACY POLICY</li>
    </ul>
    <p>We may amend this Privacy Policy at any time in our sole discretion without prior notice. If we make any material amendments, we will advise you about those changes by notifying you in a prominent place on our Website. You should check back with us from time to time in order to confirm that there have been no significant changes. Please note that the use of information that we gather is subject to the Privacy Policy then in effect when we gather the information.</p>
    <ul>

        <li>YOUR CALIFORNIA PRIVACY RIGHTS:</li>

    <p><em><u>Shine the Light</u></em>.&nbsp; If you are a resident of the State of California and would like to learn how your &ldquo;personal information&rdquo; (as defined in the Shine the Light Law, Cal. Civ. Code &sect; 1798.83) is shared with third-parties, what categories of personal information that we have shared with third-parties in the preceding year, as well as the names and addresses of those third-parties, please e-mail us at: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ea89899a8b83849b9f839893aa8d878b8386c4898587">[email&#160;protected]</a>; or send us U.S. Mail to: <%= CLAIMYOURFUNDS_ADDRESS%>.</p>

    <p>Further, if you are a resident of the State of California and would like to opt-out from the disclosure of your personal information to any third-party for marketing purposes, please e-mail us at: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a8cbcbd8c9c1c6d9ddc1dad1e8cfc5c9c1c486cbc7c5">[email&#160;protected]</a>; or send us U.S. Mail to: <%= CLAIMYOURFUNDS_ADDRESS%>.</p>

    <p><em><u>California Consumer Privacy Act of 2018 (&ldquo;CCPA&rdquo;)</u></em>.&nbsp; In addition to the foregoing, if you are a resident of the State of California certain other privacy-related rights may apply to you in accordance with the CCPA, including the right to opt-out of our sale of your personal information, as well as the right to know what personal information about you we have collected, whether your personal information was shared with third-parties in the preceding year and, if so, what categories of personal information were shared, as well as the categories of third parties with whom we shared that personal information.&nbsp; Please see our &ldquo;Provisions for California Residents&rdquo; <a href="#CA">below</a> for a more complete description of your rights under the CCPA as a California resident.</p>

        <li>Provisions for California Residents</li>

<p><u>Categories of Information We Collect</u></p>

<p>We collect information that identifies, relates to, describes, references, is capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular User or device (&ldquo;<u>personal information</u>&rdquo;). In particular, we have collected the following categories of personal information from Users within the last twelve (12) months:</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
    <tbody>
        <tr>
            <td style="width:24.14%;">
            <p align="center"><strong>Category</strong></p>
            </td>
            <td style="width:66.0%;">
            <p align="center"><strong>Examples</strong></p>
            </td>
            <td style="width:9.86%;">
            <p align="center"><strong>Collected</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:24.14%;">
                <p>A. Identifiers.</p>
            </td>
            <td style="width:66.0%;">
                <p>A real name, alias, postal address, unique personal identifier, online identifier, Internet Protocol address, email address, account name, telephone number, or other similar identifiers.</p>
            </td>
            <td style="width:9.86%;">
                <p align="center">YES</p>
            </td>
        </tr>
        <tr>
            <td style="width:24.14%;">
                <p>B. Personal information categories listed in the California Customer Records statute (Cal. Civ. Code &sect; 1798.80(e)).</p>
            </td>
            <td style="width:66.0%;">
                <p>A name, signature, Social Security number, physical characteristics or description, postal address, telephone number, passport number, driver&#39;s license or State identification card number, insurance policy number, education, employment, employment history, bank account number, credit card number, debit card number, or any other financial information, medical information, or health insurance information. Some personal information included in this category may overlap with other categories.</p>
            </td>
            <td style="width:9.86%;">
                <p align="center">YES</p>
            </td>
        </tr>
        <tr>
            <td style="width:24.14%;">
                <p>C. Protected classification characteristics under California or federal law.</p>
            </td>
            <td style="width:66.0%;">
                <p>Age (40 years or older), race, color, ancestry, national origin, citizenship, religion or creed, marital status, medical condition, physical or mental disability, sex (including gender, gender identity, gender expression, pregnancy or childbirth and related medical conditions), sexual orientation, veteran or military status, genetic information (including familial genetic information).</p>
            </td>
            <td style="width:9.86%;">
                <p align="center">YES</p>
            </td>
        </tr>
        <tr>
            <td style="width:24.14%;">
                <p>F. Internet or other similar network activity.</p>
            </td>
            <td style="width:66.0%;">
                <p>Browsing history, search history, information on a User&#39;s interaction with a website, application or advertisement.</p>
            </td>
            <td style="width:9.86%;">
                <p align="center">YES</p>
            </td>
        </tr>
</tbody>
</table>

<p>&nbsp;</p>

<p>Personal information does not include:</p>

<ul>
    <li>Publicly available information from government records.</li>
    <li>De-identified or aggregated User information.</li>
    <li>Information excluded from the CCPA&#39;s scope, such as:
    <ul>
        <li>health or medical information covered by the Health Insurance Portability and Accountability Act of 1996 (HIPAA) and the California Confidentiality of Medical Information Act (CMIA) or clinical trial data; and</li>
        <li>personal information covered by certain sector-specific privacy laws, including the Fair Credit Reporting Act (FRCA), the Gramm-Leach-Bliley Act (GLBA) or California Financial Information Privacy Act (FIPA), and the Driver&#39;s Privacy Protection Act of 1994.</li>
    </ul>
    </li>
</ul>

<p>We obtain the categories of personal information listed above from the following categories of sources:</p>

<ul>
    <li>Directly from our Users. For example, from online registration forms that our Users submit to us in connection with our membership services, our sweepstakes and promotions and the other products and/or services that we offer by and through the Site.</li>
    <li>Indirectly from our Users. For example, through information we collect from our Users in the course of providing our products and/or services to them.</li>
    <li>Directly and indirectly from activity on the Site. This includes the type of browser that you use (e.g., Safari, Chrome, Internet Explorer), your IP address, the type of operating system that you use (e.g., Windows or iOS) and the domain name of your Internet Service Provider.&nbsp; In addition, we obtain certain Site usage details and analytics as same are collected automatically by us and our third party partners.</li>
    <li>From third-parties that interact with us in connection with the products and/or services that we offer to our Users. For example, third party entities that assist us in sending direct and electronic mail, removing duplicate information from User lists, analyzing data and providing marketing analysis.</li>
</ul>

<p><u>Use of Personal Information</u></p>

<p>We may use or disclose the personal information that we collect for one or more of the following business purposes:</p>

<ul>
    <li>To fulfill or meet the reason for which the information is provided. For example, if you provide us with personal information in connection with your registration for our sweepstakes and promotions and/or our other products and/or services, we will use that information to process your registration.</li>
    <li>To provide you with information, products or services that you request from us.</li>
    <li>To create, maintain, customize and secure your account with us.</li>
    <li>To provide you with e-mail, direct mail and telemarketing messages concerning certain Company products and/or services, as well as third-party products and/or services, that we believe may be of interest to you.</li>
    <li>To deliver relevant Site content and advertisements to you and measure or understand the effectiveness of the advertising we serve to you.</li>
    <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including the Site&rsquo;s Terms and Conditions.</li>
    <li>To improve the Site and better present its contents to you.</li>
    <li>For customer service purposes and to respond to inquiries from you.</li>
    <li>For testing, research, analysis and product development.</li>
    <li>As necessary or appropriate to protect our rights, property or safety, and that of our clients or others.</li>
    <li>To respond to law enforcement requests and as required by applicable law, court order, or governmental regulations.</li>
    <li>As described to you when collecting your personal information or as otherwise set forth in the CCPA.</li>
    <li>To evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy, liquidation or similar proceeding, in which personal information held by us is among the assets transferred.</li>
</ul>

<p>We will not collect additional categories of personal information or use the personal information we collected for materially different, unrelated or incompatible purposes without providing you with notice.</p>

<p><u>Sharing Personal Information</u></p>

<p>Subject to your right to opt-out of such sharing/sale, we may share, rent and/or sell your personal information: (a) with/to third parties for marketing purposes; and (b) for the other business purposes set forth above.&nbsp;</p>

<p>When we disclose personal information to a third party service provider or other entity, we enter into a contractual relationship that describes the purpose for which such third party may use the personal information and requires that third party to both keep the personal information confidential and not use it for any purpose other than the performance of its services under the applicable contract.&nbsp; Please note, we do not collect information from Users that we actually know are less than eighteen (18) years of age and we do not share or sell the personal information of Users that we actually know are less than eighteen (18) years of age.&nbsp; Without limiting the foregoing, we have not shared or sold the personal information of Users that we actually know are less than sixteen (16) years of age in the preceding twelve (12) months.</p>

<p>In the preceding twelve (12) months, we have disclosed the following categories of personal information for a business purpose:</p>

<p>Category A.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Identifiers.<br />
Category B.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; California Customer Records personal information categories.<br />
Category C.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Protected classification characteristics under California or federal law.<br />
Category F.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Internet or other similar network activities.</p>

<p>We disclose your personal information for a business purpose to the following categories of third parties:</p>

<ul>
    <li>Our affiliates.</li>
    <li>Service providers.</li>
    <li>Third parties who provide the products and/or services featured on the Site.</li>
    <li>Third parties who purchase and/or license your personal information for marketing purposes, including: (a) providers of direct marketing services and applications, including lookup and reference, data enhancement, suppression and validation; (b) e-mail marketers; (c) telemarketers (where permitted by applicable law); and (d) direct marketers.&nbsp; If a third party purchaser of your personal information wants to resell it, that purchaser is required by law to provide you with explicit notice and an opportunity to opt-out of further sales, unless the right to resell it was secured at the point of collection.</li>
    <li>Third parties to whom you authorize us to disclose your personal information in connection with the products and/or services that we provide to you.</li>
</ul>

<p>In the preceding twelve (12) months, we have sold the following categories of personal information to third parties:</p>

<p>Category A.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Identifiers.<br />
Category B.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; California Customer Records personal information categories.<br />
Category C.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Protected classification characteristics under California or federal law.<br />
Category F.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Internet or other similar network activities.</p>

<p>In the preceding twelve (12) months, we have sold the above referenced categories of personal information to the third parties who purchase and/or license your personal information for marketing purposes, as well as the third parties who provide the products and/or services featured on the Site.</p>

<p><u>Your Rights and Choices</u></p>

<p>The CCPA provides Users (California residents) with specific rights regarding their personal information. This section describes your CCPA rights and explains how to exercise those rights.</p>

<p><em>Opt-Out from the Sale of Your Personal Information</em></p>

<p>You have the right to opt-out of our sale of your personal information to third parties. &nbsp;To exercise your right to opt-out of our sale of your personal information to third parties, please submit a verifiable User request to us by either:</p>

<ul>
<!-- <li><a href=""><u>Clicking here</u></a></li> -->
    <li>Emailing us at: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="791a1a09181017080c100b00391e14181015571a1614">[email&#160;protected]</a>; or</li>
    <li>Sending us U.S. mail to: <%= CLAIMYOURFUNDS_ADDRESS%></li>
</ul>

<p>We endeavor to act on all opt-out requests as soon as practicable, but in all cases within fifteen (15) days of the receipt of your request.</p>

<p><em>Access to Specific Information and Data Portability Rights</em></p>

<p>You have the right to request that we disclose certain information to you about our collection and use of your personal information over the past twelve (12) months. Once we receive and confirm your verifiable User request, we will disclose to you:</p>

<ul>
    <li>The categories of personal information we collected about you.</li>
    <li>The categories of sources for the personal information we collected about you.</li>
    <li>Our business or commercial purpose for collecting or selling that personal information.</li>
    <li>The categories of third parties with whom we have shared that personal information.</li>
    <li>The specific pieces of personal information we collected about you (also called a data portability request).</li>
    <li>If we sold or disclosed your personal information for a business purpose, two separate lists disclosing:
    <ul>
        <li>sales, identifying the personal information categories that each category of recipient purchased; and</li>
        <li>disclosures for a business purpose, identifying the personal information categories that each category of recipient obtained.</li>
    </ul>
    </li>
</ul>

<p><em>Deletion Request Rights </em></p>

<p>You have the right to request that we delete any of your personal information that we collected from you and retained, subject to certain exceptions. Once we receive and confirm your verifiable User request, we will delete (and direct our service providers to delete) your personal information from our (their) records, unless an exception applies; <em>provided, however, </em>that in some cases, strictly for regulatory compliance purposes and to better evidence/honor opt-out/unsubscribe requests (and for no other purposes), we may retain certain items of your personal information on a de-identified and aggregated basis in such a manner that the data no longer identifies you.&nbsp;</p>

<p>We may deny your deletion request if retaining the information is necessary for us or our service providers to:</p>

<ol>
    <li>Complete the transaction for which we collected the personal information, provide a good or service that you requested, take actions reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform our obligations in connection with our contract with you.</li>
    <li>Detect security incidents, protect against malicious, deceptive, fraudulent or illegal activity, or prosecute those responsible for such activities.</li>
    <li>Debug products to identify and repair errors that impair existing intended functionality.</li>
    <li>Exercise free speech rights, ensure the right of another User to exercise their free speech rights or exercise another right provided for by law.</li>
    <li>Comply with the California Electronic Communications Privacy Act (Cal. Penal Code &sect; 1546&nbsp;<em>seq.</em>).</li>
    <li>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when the information&#39;s deletion may likely render impossible or seriously impair the research&#39;s achievement, if you previously provided informed consent.</li>
    <li>Enable solely internal uses that are reasonably aligned with User expectations based on your relationship with us.</li>
    <li>Comply with a legal obligation.</li>
    <li>Make other internal and lawful uses of that information that are compatible with the context in which you provided it.</li>
</ol>

<p><em>Exercising Access, Data Portability and Deletion Rights</em></p>

<p>To exercise your access, data portability and/or deletion rights described above, please submit a verifiable User request to us by either:</p>

<ul>
<!-- <li><a href=""><u>Clicking here</u></a></li> -->
    <li>Emailing us at: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a1c2c2d1c0c8cfd0d4c8d3d8e1c6ccc0c8cd8fc2cecc">[email&#160;protected]</a>; or</li>
    <li>Sending us U.S. mail to: <%= CLAIMYOURFUNDS_ADDRESS%></li>
</ul>

<p>Only you or a person registered with the California Secretary of State that you authorize to act on your behalf, may make a verifiable User request related to your personal information.</p>

<p>You may only make a verifiable User request for access or data portability twice within a 12-month period. The verifiable User request must:</p>

<ul>
    <li>Provide sufficient information that allows us to reasonably verify that you are: (1) the person about whom we collected personal information; or (2) an authorized representative.</li>
    <li>Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.</li>
</ul>

<p>We cannot respond to your request or provide you with personal information if we cannot verify your identity or authority to make the request and confirm that the personal information relates to you.&nbsp; Making a verifiable User request does not require you to create an account with us.&nbsp; We will only use personal information provided in a verifiable User request to verify the requestor&#39;s identity or authority to make the request.</p>

<p><em>Response Timing and Format</em></p>

<p>We endeavor to respond to all verifiable User requests within forty-five (45) days of the receipt thereof.&nbsp; If we require more time (up to ninety (90) days), we will inform you of the reason and extension period in writing.&nbsp; We will deliver our written response by mail or electronically, at your option.&nbsp; Any disclosures we provide will only cover the twelve (12) month period preceding the receipt of your verifiable request.&nbsp; The response we provide will also explain the reasons we cannot comply with a request, if applicable.&nbsp; For data portability requests, we will select a format to provide your personal information that is readily useable and should allow you to transmit the information from one entity to another entity without hindrance.</p>

<p>We do not charge a fee to process or respond to your verifiable User request unless it is excessive, repetitive, or manifestly unfounded.&nbsp; If we determine that the request warrants a fee, we will tell you why we made that decision and provide you with a cost estimate before completing your request.</p>

<p><u>Non-Discrimination</u></p>

<p>We will not discriminate against you for exercising any of your CCPA rights. Unless permitted by the CCPA, we will not:</p>

<ul>
    <li>Deny you goods or services;</li>
    <li>Charge you different prices or rates for goods or services, including through granting discounts or other benefits, or imposing penalties;</li>
    <li>Provide you a different level or quality of goods or services; and/or</li>
    <li>Suggest that you may receive a different price or rate for goods or services or a different level or quality of goods or services.</li>
</ul>

<p><u>Changes to this Privacy Notice</u></p>

<p>We reserve the right to amend this Privacy Notice in our discretion and at any time. When we make changes to this Privacy Notice, we will notify you by email or through a notice on the Site&rsquo;s homepage.</p>

<p><u>Contact Information</u></p>

<p>If you have any questions or comments about this Privacy Notice, our Privacy Policy, the ways in which we collect and use your personal information, your choices and rights regarding such use, or wish to exercise your rights under California law, please do not hesitate to contact us by either:</p>

<ul>
    <!-- <li>Emailing us at: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="284b4b58494146595d415a51684f45494144064b4745">[email&#160;protected]</a>; or</li> -->
    <li>Sending us U.S. mail to: <%= CLAIMYOURFUNDS_ADDRESS%></li>
</ul>
                <ul>
                    <p style="margin-left:.5in;">&nbsp;</p>
                    <li>EFFECTIVE DATE</li>
                </ul>
                <p>Our Privacy Policy was last modified January 2020.</p>
            </div>
        </div>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>
</html>
